In [ ]:
# 커피 자판기 
# 남은 커피가 있으면 판매 -> 판매 -> 없으면 안 판매

coffee = 10
money= 300

while money:
  print("커피를 판매합니다.")
  coffee -=1
  print("남은 커피는 %d개 입니다." % coffee)
  if coffee ==0:
    print("매진")
    break

커피를 판매합니다.
남은 커피는 9개 입니다.
커피를 판매합니다.
남은 커피는 8개 입니다.
커피를 판매합니다.
남은 커피는 7개 입니다.
커피를 판매합니다.
남은 커피는 6개 입니다.
커피를 판매합니다.
남은 커피는 5개 입니다.
커피를 판매합니다.
남은 커피는 4개 입니다.
커피를 판매합니다.
남은 커피는 3개 입니다.
커피를 판매합니다.
남은 커피는 2개 입니다.
커피를 판매합니다.
남은 커피는 1개 입니다.
커피를 판매합니다.
남은 커피는 0개 입니다.
매진

In [ ]:
coffee =10
while True:
  money =int(input("돈을 넣어 주세요 : "))
  if money == 300:
    print("커피를 드립니다.")
    coffee -=1
  elif money >300:
    print("거스름 돈은 %d원입니다." %(money-300))
    coffee -=1
  else:
    print("금액이 부족합니다.")
  
  if coffee ==0:
    print("매진되었습니다")
    break

돈을 넣어 주세요 : 600
거스름 돈은 300원입니다.
돈을 넣어 주세요 : 300
커피를 드립니다.
돈을 넣어 주세요 : 100
금액이 부족합니다.
돈을 넣어 주세요 : 800
거스름 돈은 500원입니다.
돈을 넣어 주세요 : 100
금액이 부족합니다.
돈을 넣어 주세요 : 90
금액이 부족합니다.
돈을 넣어 주세요 : 600
거스름 돈은 300원입니다.
돈을 넣어 주세요 : 5000
거스름 돈은 4700원입니다.
돈을 넣어 주세요 : 300
커피를 드립니다.
돈을 넣어 주세요 : 400
거스름 돈은 100원입니다.
돈을 넣어 주세요 : 600
거스름 돈은 300원입니다.
돈을 넣어 주세요 : 800
거스름 돈은 500원입니다.
돈을 넣어 주세요 : 800
거스름 돈은 500원입니다.
매진되었습니다

In [ ]:
a =0
while a<10:
  a +=1
  if a%2 ==0:continue
  print(a)

1
3
5
7
9

In [ ]:
# for ... 반복문 ..

# 파이썬의 직관적인 특징을 잘 보여주는 것이 for문이다.
# while문과 비슷하지만 for문은 매우 많이 사용되고 문장 구조가 한눈에 파악하기 쉽다

list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [ ]:
a = [(1,2),(3,4),(5,6)]

for x in a:
  print(x)
print(len(x))

(1, 2)
(3, 4)
(5, 6)
2

In [ ]:
a = [(1,2),(3,4),(5,6)]

for x,y in a:
  print(x+y)

3
7
11

In [ ]:
score = [90,70,50,40,80]
i=0
for x in score:
  i +=1
  if x>60:
    print("%d번 합격" %i)
  else:
    print("%d번 불합격" %i)

1번 합격
2번 합격
3번 불합격
4번 불합격
5번 합격

In [ ]:
score = [90,70,50,40,80]
i=0
for x in score:
  i +=1
  if x<60:continue

  print("%d번 합격" %i)

1번 합격
2번 합격
5번 합격

In [ ]:
# range함수와 for 문
# range(start, stop, step)start를 생략하면 0부터, step을 생략하면 1씩 증가

add =0

for i in range(1,11,2):
  add+=i

print(add)

add=0
for i in range(11,1,-2):
  add+=i

print(add)

25
60

In [ ]:
#quiz
# for 문과 range를 이용해서 구구단을

for i in range(2,10):
  print(" ")
  for j in range(1,10):
    print(i*j,end="")

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281

In [ ]:
#List comprehension(리스트 내포)

#without ListC

a=[1,2,3,4]
result = []

for number in a:
  result.append(number*3)

print(result)

[3, 6, 9, 12]

In [ ]:
# with ListC

a = [1,2,3,4]
result = [n*3 for n in a]
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [n*3 for n in a if n%2 ==0]
print(result)

[6, 12]

In [ ]:
# for문을 사용해서 1부터 100까지의 자연수 중 짝수의 합
sum = 0
for n in range(1,101):
  if n%2 ==0:
    sum +=n

print(sum)

2550

In [ ]:
i =0


while i<5:
  i +=1
  for i in range(1,i+1):
    print("*",end ="")
  print("")

*
**
***
****
*****

In [ ]:
a=[70,60,55,75,95,90,80,80,85,100]
sum =0
for n in a:
  sum +=n


print(sum/len(a))

79.0

In [ ]:
n =[1,2,3,4,5]
result = [  2*a for a in n  if a%2==1]
result

[2, 6, 10]

In [ ]:
#함수

dse

함수란!!!

과일 -> 믹서기 -> 과일주스
바나나 -> 믹서기 -> 바나나주스
사과 -> 믹서기 -> 사과주스

왜!
항상 반복되는 코드를 매번 작성하는 것보다 그것들을 묶어서 함수로 만들면 쉽고 편하게 재활용 할 수 있다

기본형

def 함수명(변수):
  수행
  수행
  수행
  return 값

def add(d,b):
  return a+b

이 함수의 이름은 add이고 입력으로 2개의 값을 받아서 더해준다.

In [ ]:
 def add(a,b):    #a,b 매개변수 (값을 받는 변수)
   return a+b
  

add(1,2)   #3,4 인수 (진짜 들어가는 값)

3

In [ ]:
#4가지 함수의 형태

#1. 입력값도 있고 출력값도 있는 함수
#2. 입력값은 있고 출력값은 없는 함수
#3. 입력값은 없고 출력값은 있는 함수
#4. 입력값도 없고 출력값도 없는 함수

In [ ]:
a="Hi"
def say(a):
  print(a)

say(a)

Hi

In [ ]:
der add(a,b):
  return a+b

r= add(b=7,a=4)

In [ ]:
#입력이 몇개가 될지 모를 때!!

def add_many(*args):
  result =0
  for i in args:
    result = result +i
  return result

add_many(1,2,3,4,5)

15

In [ ]:
def add(ab):
  a='s'
  b='sef'
  print("%d,%d 의 값은 %입니다."(a,b,ba))

In [ ]:
#함수의 결과값은 언제나 함수이다.

def add_mul(a,b):
  return a+b, a*b 
  return a*b #처음만나는 return문으로 함수 종료 됨.

result =add_mul(3,4)
print(result)


# 튜플값 하나로 반환된다.

(7, 12)

In [ ]:
result1, result2 = add_mul(3,4)

print(result1)
print(result2)

#튜플 값 하나씩 가져감

7
12

In [ ]:
def say(name,old,man=True):
  print("나의 이름은 %s" %name)
  print("나이는 %d 살입니다." %old)
  if man:
    print("남자입니다")

  else:
    print("여자입니다.")

say('신동희',27, True)

#초기값 설정은 항상 끝에 한다.

나의 이름은 신동희
나이는 27 살입니다.
여자입니다.

In [ ]:
#함수에서 선언한 변수의 효력 범위...

a =1
def vartest(a):
  a =a+1

vartest(a)
print(a)

#당연히 변수 값에 1을 더했으니 2가 출력될 것으로 보였지만 결과는 1이 나온다.
# 그 이유는 함수 안에서 새로 만든 매개변수는 함수 안에서만 사용하는 함수만의 변수이다.

1

In [ ]:
def vartest(a):
  a = a+1

vartest(3)
print(a)

1

In [ ]:
a=1
def vartest(a):
  a = a+1
  return a
print(vartest(a))

None

In [ ]:
a=1
def vartest():
  global a
  a = a+1
  return a
print(vartest())
# 전역 변수 선언은 함수 밖에서도 직접 사용하겠다는 의미.
# 전역 변수는 사용하지 않는 것이 좋다.

2

In [ ]:
# 람다... lambda....
# def 과 동일한 역할을 한다. 보통 함수를 한줄로 간단하게 만들 때 사용한다.

def add(a,b):
  return a+b

r = add(3,4)
print(r)

7

In [ ]:
# lambda 변수 1,변수2 : 변수를 이용한 식

add = lambda a,b : a+b
r = add(3,4)
print(r)

7

In [ ]:
# 사용자 입출력(input/print)

a = input()
print(a)

# input 으로 입력 받는 모든 값은 일단 str

asd
asd

In [ ]:
a = int(input())

type(a)

516

int

In [ ]:
# 숫자를 입력받아서 그 숫자가 홀수인지 짝수 인 판별해 주는 함수를 만들어 보자.

def num(a):
  
  if a%2==1:
   print("홀수입니다.")

  else:
   print('짝수입니다')  

num(int(input()))

50
짝수입니다

In [ ]:
def method(*a):
  sum =0
  for n in a:
   sum +=n
  print(sum/len(a))

method(50,60,80)

63.333333333333336

In [ ]:
def add_mul(choice, *args):
  if choice =="add":
    result =0
    for i in args:
      result +=i
    
  elif choice=="mul":
    result=1
    for i in args:
      result *=i
  return result

print(add_mul('mul',1,2,3,5))

30

In [ ]:
# 파일 읽고 쓰기

# 파일 생성

f = open("파일이름.txt",'w')
f.close()

# w 쓰기, r읽기, a추가

In [ ]:
f = open("새파일.txt", 'w')
for i in range(1,11):
  data = "%d번째 줄입니다.\n" %i
  f.write(data)
f.close()

In [ ]:
f = open("새파일.txt", 'r')

while True:
  line = f.readline()
  if not line:
    break
  print(line)

f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
#readlines()

f = open("새파일.txt",'r')
lines = f.readlines()
for line in lines:
  line = line.strip()
  print(line)

f.close()

# readlines 함수는 파일의 모든 줄을 다 읽어서 각각의 줄을 요소로하는 
# 리스트로 돌려준다.

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
#read()

f = open("새파일.txt",'r')
lines = f.read()

print(lines)
f.close()

#read()는 파일 내용 전체를 문자열로 돌려준다.

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
#수정

f = open('새파일.txt' ,'a')
for i in range(11,21):
  data = " %d번째 줄입니다.\n" %i
  f.write(data)

f.close()

In [ ]:
# With
# 파일을 사용 후에는 항상 닫아줘야 한다.
# 자동으로 닫으면 편하다.

with open("새파일.txt", 'w') as f:

  f.write("No pain No gain")

In [ ]:
print("첫번째 숫자: ")
input1 = int(input())
print('두번재 숫자: ')
input2 = int(input())

print('두수의 합은 %d입니다.' %(input1+input2))

첫번째 숫자:
80
두번재 숫자:
90
두수의 합은 170입니다.
ab

In [ ]:
#class .......
# C언어에는 클래스가 없다. 객체지향이 없다.
# 클래스는 반드시 필요한 것은 아니지만 사용한다면
# 얻을 수 있는 이익이 상당하다.

In [ ]:
# 계산기

result1 = 0
result2 =0

def add1(num):
  global result1 # 이전에 계산 값을 유지 하기 위해 전역변수 사용 
  result1 +=num
  return result1

def add2(num):
  global result2 # 이전에 계산 값을 유지 하기 위해 전역변수 사용 
  result2 +=num
  return result2


print(add1(3))
print(add1(4))
print(add1(5))
print("")
print(add2(2))
print(add2(3))

3
7
12

2
5

In [ ]:
class Calculator:
  def __init__(self):  #생성자
    self.result=0
  

  def add(self,num):
    self.result +=num
    return self.result

cal1 = Calculator()
cal2 = Calculator()
cla3 = Calculator()


print(cal1.add(3))
print(cal1.add(3))
print(cal1.add(3))

3
6
9